.container{
    border: 5px;
    margin-right: 50%;
    align-content: center;
}
.demo{
    margin: 2px;
    padding: 2px;
}
.demo1{
    margin: 2px;
    padding: 2px;
}
.demo2{
    margin: 2px;
    padding: 2px;
}

